<h1 mat-dialog-title>{{ dataService.loadedCard?.name }}</h1>
<mat-dialog-content>
  <mat-card>
      <img mat-card-image [src]="dataService.loadedCard?.image">
      <mat-card-content>
          {{ dataService.loadedCard!.description }}
      </mat-card-content>
      <form [formGroup]="dataService.dialogCard">
        <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name" [(ngModel)]="dataService.loadedCard!.name">
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" [(ngModel)]="dataService.loadedCard!.description"></textarea>
        </mat-form-field>
        <input type="file" placeholder="Update Image">
        <button mat-raised-button color="primary" type="button" (click)="dataService.updateCard(dataService.loadedCard!.id!.toString())" (click)="dataService.updateCard(dataService.loadedCard!.id.toString())">Update</button>
      </form>
  </mat-card>
</mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Close</button>
    <button mat-raised-button cdkFocusInitial (click)="dataService.deleteCard(dataService.loadedCard!.id!.toString())">Delete Card</button>
  </mat-dialog-actions>
