<div class="content">
  <section>
      <div class="header">
          <h2>Digital</h2>
      </div>
      <div class="text-content">
          <h1>Artificial Intellingence Driving Results For The Travel Industry</h1>
          <p>Welcome back! Please login to your account.</p>
      </div>
      <div class="input-field">
          <input type="text">
      </div>
      <div class="btns">
          <button [ngStyle]="{'color': 'white'}" [routerLink]="['/users', 'auth', 'login']">LOGIN</button>
          <button [ngStyle]="{'color': '#3753FB'}" [routerLink]="['/users', 'auth', 'signup']">SIGNUP</button>
      </div>
  </section>
  <section>
      <div class="last-content">
          <nav>
              <a href="#">Home</a>
              <a href="#">About Us</a>
              <a href="#">Blog</a>
              <a href="#">Pricing</a>
          </nav>
      <div>
          <img src="assets/images/ai-landing.svg" alt="bicycle">
      </div>
      </div>
  </section>
</div>
